<div class="panel-default">
    <div class="panel-body">

        <div class="file-area">
          <app-file-upload></app-file-upload>
          <app-scanning-result></app-scanning-result>
        </div>
    </div>
  </div>