<div class="customer">
    <div class="name"><label>Profile:</label></div>
    <div>
      <mat-form-field>
        <select matNativeControl required [(ngModel)]="customerName" (change)="customerChanged()" class="selected-customer">
          <option *ngFor="let customer of customersList" [value]="customer">
            {{customer}}
          </option>
        </select> 
      </mat-form-field>   
    </div>
</div>
