.popup::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.popup::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    // -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.popup {
    overflow-y: scroll;
    // overflow: auto;Scan
    white-space: nowrap;
    height: 600px;
    width: 700px;
}