<div class="files-list" *ngFor="let result of results;let i= index">
  <div class="detector-result" (click)="showResultDetails(result)">
    <div class="name">{{result.file}}</div>
    <div class="data" *ngIf="result.data; else loading">
        <span>==></span>
        <span><b>Size:</b> {{(result.data.metric.size.bytes / 1024 ) | number: '1.1-2'}}KB</span>
        <span><b>Text:</b> {{(result.data.metric.size.charCount / 1000 ) | number: '1.1-2'}}K</span>
        <span><b>Duration:</b> {{result.data.metric.durationMs}}ms</span>
        <span><b>Parser:</b> {{result.data.metric.parser.durationMs}}ms</span>
        <span><b>Analyzer:</b> {{result.data.metric.analyzer.durationMs}}ms</span>
    </div>
    <ng-template #loading><div class="data"><span class="loading">(analyzing file...)</span></div></ng-template>
    <div class="trash">
      <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="../../../assets/General-Trash.ico">
      </button>
    </div>
  </div>
</div>