.files-list {
    display: flex;
    align-content: stretch;
    width: 90%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid;
    border-radius: 12px;
    padding: 5px;
    border-color: #1c8adb40;
}

.files-list .delete-file {
    background: transparent;
    border: none;
}

.files-list .delete-file img {
    width: 30px;
}

.detector-result {
    width: 100%;
    cursor: pointer;
}

.name {
    float: left;
    margin-top: 5px;
    font-weight: bold;
    color: #344c92;
    font-size: 17px;
}

.data {
    float: left;
    margin-top: 7px;
}

.data span {
    padding-left: 10px;
}

.trash {
    float: right;
}

.loading {
    padding-left: 20px;
    color: #80808099;
}

.delete-file {
    cursor: pointer;
}

.delete-file img {
    width: 25px !important;
    margin-top: 3px; 
}