
.top-header {
    display: flex;
    background-color: #017abe;    
}
.top-header-logo-img img {
    
    vertical-align: middle;
}
.navbar-app-switcher {
    height: 56px;
    padding-right: 16px;
}

.navbar-brand-img {
    width: 126.625px;
}

