<div class="top-header">
  <div class="top-header-logo-img">
    <img class="navbar-app-switcher" src="./assets/app_switcher.png" height="50px" alt="">
    <img class="navbar-brand-img" src="./assets/logo_white.svg">
  </div>
  <div class="navbar-menu" width="auto">
    
  </div>
</div>
<div class="panel">
  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <nav>
        <div class="side-menu-container">
          <div id="navSideMenuOverviewButton" class="menu-item"><a routerLink="./scanIT" routerLinkActive="active">Scan
              IT</a></div>
          <div id="navSideMenuOverviewButton" class="menu-item"><a routerLink="./performance"
              routerLinkActive="active">Performance</a></div>
          <!-- <div id="navSideMenuBalanceButton" class="menu-item"><a routerLink="./settings" routerLinkActive="active">Settings</a></div> -->
        </div>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>