<div class="settings">
  <div>
    <app-customer-list (customer_changed_event)="customer_changed_event($event)"></app-customer-list>
  </div>
  <div class="extract-embedded">
    <mat-checkbox
    id="extractEmbedded"
    #extractEmbeddedCB 
    [(ngModel)]="extractEmbedded">
        <span>Extract Embedded</span>
    </mat-checkbox>  
  </div>

  <div class="refresh">
    <a (click)="refreshAnalyze()" matTooltip="{{refreshTooltip()}}">
      <img src="../../../assets/refresh_icon.png">
    </a>
  </div>
</div>
<div class="uploadfilecontainer"  (click)="fileInput.click()" appDragNdrop (onFileDropped)="uploadFile($event)">
  <input hidden type="file" data-cy="uploadfilecontainer" #fileInput (change)="uploadFile(fileInput.files)">
</div>
