

input {
    color: #565899;
    border: 1px solid #80808047;
    font-size: 15px;
}
.settings {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.uploadfilecontainer {
    background-image: url("../../../assets/dragNdrop.png");
    background-repeat: no-repeat;
    background-size: 290px;
    background-position: center;
    height: 200px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #c7e9ff;
    border-radius: 10px;}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #d2e9fa !important;
    opacity: 0.8;
}

.refresh img {
    width: 21px;
    margin-top: 21px;
    cursor: pointer;
    margin-left: 13px;
}

.extract-embedded {
   font-size: 13px !important;
    color: #365973;
    margin-top: 20px;
    margin-left: 15px;
}