<!-- <div class="dashboard"> -->
  <div class="panel-default">
    <div class="panel-body">

        <div class="file-area">
          <app-file-upload></app-file-upload>
          <app-analyzer-result></app-analyzer-result>
        </div>
    </div>
  </div>
<!-- </div> -->
