/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.side-nav-container nav a {
    padding-left: 24px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
    color: #0e0365f0;
    font-size: 17px;
    box-shadow:0 1px 7px rgba(167, 163, 167, 0.26);
    transition: background .5s;
  }
  
  .side-nav-container nav a.active {
    background: #03599b;
    // background: #0479bf;
    color: #e4e4e4;
  }
  
  .side-nav-container nav a:hover:not(.active){
    text-decoration: none;
    background: rgba(218, 218, 218, 0.5);
  } 
  
  .side-menu-container{
    display: flex;
    flex-direction: column;
    width: 170px;
  }
  
  .menu-item {
    height: 35px;
    margin-top: 20px;
  }

  .panel-default {
    min-width: 1000px;
    max-width: 100%;
    width: 100%;
    /* margin: 15px auto; */
    border-color: white;
  }
    
  .panel-default>.panel-heading {
    color: #333;
    background-color: #f7f6ffab;
    /* border-color: #a587bd; */
    direction: rtl;
    margin-bottom: 10px;
  }

  .panel-body {
    min-height: 800px;
    padding: 5px 5px;
  }

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #5c809cc4;
}

.mat-checkbox .mat-checkbox-label{
  font-weight: normal;
  font-size: 15px;
}

.mat-checkbox .mat-checkbox-frame {
    border-width: 1px;
}

.mat-checkbox .mat-checkbox-inner-container {
    display: inline-block;
    height: 14px;
    width: 14px;
}