<div class="files-list" *ngFor="let result of results;let i= index">
    <div class="detector-result" (contextmenu)="showResultDetails($event, result, 'full')" (click)="showResultDetails($event, result, 'basic')">
      <div class="name">{{result.file}}</div>
      <div class="detector-data" *ngIf="result.data; else loading">
        <div class="detector-row" *ngIf="result.data.detectorsCount > 0; else noResults">
          <div>
            <span class="warning"><img src="../../../assets/warning.png"></span> 
          </div>          
          <div class="detectors-details">
            <span class="detector">Found <b>{{ result.data.detectorsCount }}</b> Detector(s): </span>
            <span class="detector-id"><b>{{ result.data.detectorsId }}</b></span>
            <span class="detector-snippets">With <b>{{ result.data.totalMatchCount }}</b> Snippets</span>  
            <span class="metric-details">({{result.data.metric.durationMs}}ms, {{(result.data.metric.size.bytes / 1024 ) | number: '1.1-2'}}KB)</span>
          </div>
          
          <!-- <span><b>Parser:</b> {{result.data.metric.parser.durationMs}}ms</span> -->
          <!-- <span><b>Analyzer:</b> {{result.data.metric.analyzer.durationMs}}ms</span>  -->  
        </div>
        <ng-template #noResults>
          <div class="no-match">
            <div>
              <span class="v-icon"><img src="../../../assets/good.png"></span>  
            </div>
            <div class="all-good">
              <span>Content Clear </span>
              <span class="metric-details">({{result.data.metric.durationMs}}ms, {{(result.data.metric.size.bytes / 1024 ) | number: '1.1-2'}}KB)</span>
            </div>            
          </div>
        </ng-template>
      </div>
      <ng-template #loading>
        <div class="loading-row"><span class="loading">(analyzing file...)</span></div></ng-template>
      <div class="trash">
        <button class="delete-file" (click)="deleteAttachment(i)">
          <img src="../../../assets/General-Trash.ico">
        </button>
      </div>
    </div>
  </div>