::ng-deep .mat-tooltip  {
    white-space: pre-line;
    background-color: rgb(241, 241, 241);
    color: black !important;
}

.files-list {
    display: flex;
    align-content: stretch;
    width: 90%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid;
    border-radius: 12px;
    padding: 5px;
    border-color: #1c8adb40;
}

.detector-result {
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
}

.detector-result:hover {
    box-shadow: 0px 2px 9px 0px rgba(107, 107, 107, 0.5); cursor: pointer; 
}

.name {
    float: left;
    margin-top: 6px;
    font-weight: bold;
    color: #344c92;
    font-size: 17px;
    padding-left: 5px;
}

.detector-data {
    float: left;
    margin-top: 7px;
}

.loading-row {
    float: left;
    margin-top: 7px;
}

.detector-data span {
    padding-left: 10px;
}

.detector-row {
    display: flex;
}

.warning img {
    width: 18px !important;
    margin-top: 0px; 
}

.detectors-details {
    width: 100%;
    margin-bottom: 5px;
}

.detector-id {
    color: #bb3535;
    padding-left: 2px !important;
}

.detector-snippets {
    color:#565656
}

.detector {
    color: #565656
}

.no-match {
    display: flex;
}

.all-good {
    color:#014e01;
}

.metric-details {
    color: gray;
    font-size: small;
    font-weight: bold;
}

.v-icon img {
    width: 20px !important;
    margin-top: 0px; 
}

.loading {
    padding-left: 20px;
    color: #80808099;
}

.trash {
    float: right;
}

.files-list .delete-file {
    background: transparent;
    border: none;
}

.files-list .delete-file img {
    width: 30px;
}

.delete-file {
    cursor: pointer;
}

.delete-file img {
    width: 25px !important;
    margin-top: 3px; 
}